---
layout: single        # uses the Minimal-Mistakes “single” frame
---

{% assign cat     = page.category %}
{% assign entries = site.notes | where_exp:'d','d.categories contains cat' %}



<ul class="archive-list">
{% for doc in entries %}
  <li>
    <a href="{{ doc.url | relative_url }}">{{ doc.title }}</a>
    {% if doc.date %}
      <span class="archive-meta">{{ doc.date | date: "%b %e %Y" }}</span>
    {% endif %}

    {% if doc.excerpt %}
      <p class="archive__item-excerpt">{{ doc.excerpt | markdownify }}</p>
    {% elsif doc.description %}
      <p class="archive__item-excerpt">{{ doc.description | markdownify }}</p>
    {% endif %}
  </li>
{% endfor %}
</ul>

